$primary-text: #13182C;
$primary-interactive: #2E66E5;
$primary-white: #FFFFFF;

$secondary-header-placeholder: #5C667E;
$secondary-borders: #BDC5D5;

$background-header: #232940;
$background-page: #F7F8F9;

$supporting-instock: #158463;
$supporting-error: #C94515;
